html {
      scroll-behavior: smooth;
    }
body {
    display: flex;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(220, 245, 228);
    justify-content: center;
    font-size: 18px;
}
body.dark,
body.dark .left_container,
body.dark .About_text_container,
body.dark h2,
body.dark .container_job_text,
body.dark .input_text,
body.dark .input_email,
body.dark .users_message,
body.dark .input_text::placeholder,
body.dark .input_email::placeholder,
body.dark .users_message::placeholder {
    color: rgb(255, 255, 255);
    background-color: rgb(87, 87, 87);
}
body.dark .button_dark_mode {
    background-color: rgb(39, 39, 39);
    color: white;
    border-color: black;
}
.button_dark_mode:hover {
    transform: scale(1.05);
    transition: 3s ease;
    background-color: #000000;
    color: white;
}

html {
    height: 100%;
}

.navbar a {
    font-size: 22px;
    list-style: none;
    text-decoration-line: none;
    text-shadow: 1px 1px 2px rgb(0, 0, 0),
    0 0 1em #7fbfff,
    0 0 0.2em #7fbfff;
    color: white;
    font: 1.5em Georgia, serif;
}
body.dark .navbar a {
    text-shadow: 15px 13px 6px rgb(0, 0, 0),
    0 0 1em #7fbfff,
    0 0 0.2em #7fbfff;
}
.navbar_box li:hover {
    transform: scale(1.05);
    transition: 0.3s ease;
}

#name {
    text-transform: uppercase;
}

section {
    margin-top: 30px;
    /*border: 1px solid black;*/
    border-radius: 5px;
}
.elementUl li:hover {
    transform: scale(1.05);
    transition: 0.3s ease;
}


.About_text_container {
    background-color: #e4f1fe;
    border-radius: 5px;
    box-shadow: 2px 5px rgba(0, 0, 0, 0.075),
    0 6px 6px rgba(0, 0, 0, 0.041);
}
#About {
    scroll-margin-top: 290px;
}
#About p {
    text-align: justify;
    margin: 0px;
}



#Experience p {
    text-align: justify;
}

.container_job {
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
    margin: 10px;
    border-radius: 5px;
}

.container_title_text {
    border: 2px solid rgba(0, 0, 0, 0.045);
    background-color: rgba(0, 0, 0, 0.035);
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
}

.container_job_title {
    text-decoration: underline rgb(182, 182, 182);
}

.container_job_text {
    background-color: #e4f1fe;
    text-indent: 25px;
    border-radius: 5px;
    box-shadow: 2px 5px rgba(0, 0, 0, 0.075),
    0 6px 6px rgba(0, 0, 0, 0.041);
    border: 1px solid rgb(0, 0, 0, 0.065);
}


/*
#link {
    text-decoration-style: dashed;
    text-decoration-color: rgb(5, 21, 238);
}*/
.project_link {
    color: rgb(5 238 132 / 0.4);
}

a {
    text-decoration: none;
}

h1 {
    font-weight: bold;
}

h2 {
    color: rgba(26, 26, 26, 0.277);
    text-align: center;
}
body.dark h2 {
    text-shadow: 17px 11px 6px #03030399;
}



/* ------------------- 480 ----------------- */
@media screen and (max-width: 480px) {
    .main_container {
        display: flex;
        /*border: 2px solid black;*/
        flex-direction: column;
        min-width: 325px;
    }
    .left_container {
        display: flex;
        overflow-y: hidden;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
        height: 130px;
        position: fixed;
        z-index: 1000;
        background-color: rgb(220, 245, 228);
        top: 0;
        
        width: 100%;
        max-width: 460px;
        min-width: 300px;
        left: 0px;
        /*border: 2px solid black;*/
    }
    .imgPS { /**/
        margin-top: 15px;
        margin-bottom: 10px;
        /*border: 1px solid rgb(220, 245, 228);*/
        width: 83px;
        height: 110px;
        border-radius: 5px;
    }
    .imgPS img {
        height: auto;
        width: 100%;
        overflow: hidden;
        object-fit: cover;
        border-radius: 5px;
    }
    .button_dark_mode_box {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 5px;
        margin-right: 15px;
    }
    .container_nav {
        /*border: 2px solid black;*/
        margin-top: 0px;
        margin-left: 0px;
        width: 100%;
        max-width: 300px;
        min-width: 265px;
        font-size: 15px;
    }
    .navbar_box {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 20px;
        row-gap: 5px;
        list-style: none;
        padding: 5px 5px 5px 5px;
        justify-content: center;
        margin-top: 0px;
        margin-bottom: 0px;
        /*border: 2px solid black;*/
    }
    .button_dark_mode {
        width: 70px;
        height: 20px;
        border-radius: 2px;
        cursor: pointer;
        border-color:rgb(230, 255, 238);
        background-color: rgb(220, 245, 228);;
        font-size: 0.5rem;
    }
    .About_text_container, .container_job_text {
        font-size: 1.0rem;
        padding: 10px 10px 10px 10px;
        text-indent: 2em;
    }

    h2 {
        font-size: 18px;
    }
    .container_job_title {
        font-size: 16px;
    }
    .right_container {
        display: flex;
        margin-top: 30px;
        flex-direction: column;
        align-items: center;
        /*border: 2px solid black;*/
        width: auto;
        margin-top: 160px;
        margin-left: 0px;
    }
    .fullname {
        font-size: 0.9rem;
    }
    #About {
        padding: 10px;
    }
    .container_about {
        width: 100%;
        max-width: 380px;
        min-width: 200px;
        height: auto;
        padding: 10px 10px 10px 10px;   
    }
    .container_experience {
        display: block;
        width: 100%;
        max-width: 400px;
        min-width: 200px;
        height: auto;
}
    .skills_ul_box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        min-width: 250px;
        max-width: 400px;
        height: auto;
        list-style: none;
        font-size: 1.2rem;
        /*border: 2px solid black;*/
        gap: 30px;
        padding-left: 0px;
        background: linear-gradient(270deg, red, orange, yellow, green, blue, indigo, violet);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    /*---------- projects ----------------*/
    .container_projects {
        width: 100%;
        max-width: 440px;
        min-width: 200px;
        /*border: 2px solid black;*/
    }
    /*
    #Projects {
        border: 2px solid black;
    }
    */
    .elementUl {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        font-size: 18px;
        padding-left: 0px;
        /*border: 2px solid black;*/
        font-family: 'Press Start 2P', cursive;
        color: rgb(0, 85, 255);
        text-shadow:
        0.5px 0.5px 0 #ccc,
        1px 1px 0 #bbb,
        1.5px 1.5px 0 #aaa,
        2px 2px 0 #999,
        2.5px 2.5px 0 #888,
        3px 3px 0 #777,
        3.5px 3.5px 0 #666;
    }
    body.dark .project_link {
        color: white;
        font-family: 'Great Vibes', cursive;
        font-size: 25px;
    }
    .elementUl li {
        margin-top: 15px;
    }
   
    /*------------------------------------*/
    .connect_linksbox {
        display: grid;
        grid-template-columns: [col1] 30px [col2] 30px [col3] 30px [col4] 30px [col5] 30px;
        grid-template-rows: [ro1] 30px [ro2] 30px;
        justify-content: center;
}
    .fa-brands.fa-linkedin {
        font-size: 30px;
        color: blue;
    }
    .fa-brands.fa-square-github {
        font-size: 30px;
        color: black;
    }
    .fa-solid.fa-envelope {
        font-size: 30px;
        color: rgb(251, 119, 3);
    }
    .container_leave_message {
        width: 100%;
        max-width: 450px;
        min-width: 200px;
        /*border: 2px solid black;*/
    }
    .leave_message {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    input::placeholder {
        opacity: 0.3;
    }
    textarea::placeholder {
        opacity: 0.3;
    }
    .input_text {
        width: 100%;
        max-width: 350px;
        min-width: 200px;
        height: 30px;
        font-size: 0.8em;
    }
    .input_email {
        width: 100%;
        max-width: 350px;
        min-width: 200px;
        height: 30px;
        font-size: 0.8em;
    }
    .users_message {
        width: 100%;
        max-width: 350px;
        min-width: 200px;
        height: 100px;
        font-size: 0.8em;
    }
    .button_submit {
        width: 90px;
        height: 35px;
        border-radius: 5px;
        cursor: pointer;
        border-color:rgb(179, 179, 179);
    }
    .button_submit:hover {
        background-color: rgb(213, 213, 213);
    }
    .container_messages {
        width: 100%;
        max-width: 350px;
        min-width: 200px;
        /*border: 2px solid black;*/
    }
    .messages_box {
        width: 100%;
        max-width: 440px;
        min-width: 200px;
        height: auto;
        /*border: 2px solid black;*/
    }
    .messages_ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        font-size: 1em;
        /*border: 2px solid black;*/
        list-style: none;
        text-decoration: none;
        width: 100%;
        max-width: 440px;
        min-width: 200px;
        height: auto;
        padding-left: 0px;
    }
    .messages_ul li a {
        text-decoration: none;
        cursor: pointer;
    }
    .messages_ul li {
        margin-bottom: 20px;
        background-color: rgba(220, 245, 228, 0.14);
        border: 1px solid rgb(179, 179, 179);
        border-radius: 5px;
    }
    .messages_ul li span {
        display: block;
        overflow-wrap: break-word;
        white-space: normal;
        max-width: 100%;
    }
    .remove_button {
        width: 80px;
        height: 30px;
        border-radius: 2px;
        cursor: pointer;
        margin-top: 10px;
        margin-left: 268px;
        border-color:rgb(179, 179, 179);
    }
    .remove_button:hover {
        background-color: rgb(213, 213, 213);
    }
    .edit_button {
        width: 80px;
        height: 30px;
        border-radius: 2px;
        cursor: pointer;
        margin-top: 10px;
        margin-left: 268px;
        border-color:rgb(179, 179, 179);
    }
    .edit_button:hover {
        background-color: rgb(213, 213, 213);
    }
    .container_footer {
        margin-top: 100px;
        height: 50px;
        /*border: 2px solid black;*/
        text-align: center;
    }
}

/* --------------- 481 --------------------- */
@media screen and (min-width: 481px) {
    .main_container {
        display: flex;
        /*border: 2px solid black;*/
        flex-direction: column;
    }
    .left_container {
        display: flex;
        overflow-y: hidden;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        position: fixed;
        z-index: 1000;
        background-color: rgb(220, 245, 228);
        top: 0;
        height: 160px;
        width: 100%;
        max-width: 760px;
        padding-left: 10px;
        left: 0px;
        /*border: 2px solid black;*/
    }
    .imgPS { /**/
        margin-top: 15px;
        margin-bottom: 10px;
        /*border: 1px solid rgb(220, 245, 228);*/
        width: 120px;
        height: 150px;
        border-radius: 5px;
    }
    .imgPS img {
        height: auto;
        width: 100%;
        overflow: hidden;
        object-fit: cover;
        border-radius: 5px;
    }
    .button_dark_mode_box {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 15px;
        margin-right: 15px;
    }
    .container_nav {
        /*border: 2px solid black;*/
        margin-top: 0px;
        margin-left: 15px;
        width: 100%;
        max-width: 590px;
        min-width: 250px;
        font-size: 15px;
        padding-left: 10px;
        padding-right: 15px;
    }
    .navbar_box {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 10px;
        column-gap: 10px;
        list-style: none;
        padding: 5px 5px 5px 5px;
        justify-content: space-evenly;
        /*border: 2px solid black;*/
    }
    .button_dark_mode {
        width: 80px;
        height: 25px;
        border-radius: 2px;
        cursor: pointer;
        border-color:rgb(230, 255, 238);
        background-color: rgb(220, 245, 228);;
        font-size: 0.8rem;
    }
    .About_text_container, .container_job_text {
        font-size: 1.0rem;
        padding: 10px 10px 10px 10px;
        text-indent: 2em;
    }
    h2 {
        font-size: 24px;
    }
    .container_job_title {
        font-size: 20px;
    }
    .right_container {
        display: flex;
        margin-top: 30px;
        flex-direction: column;
        align-items: center;
        /*border: 2px solid black;*/
        width: auto;
        margin-top: 160px;
    }
    .fullname {
        font-size: 1rem;
    }
    .container_about {
        width: 100%;
        
        min-width: 200px;
        height: auto;
    }
    #About {
        margin: 10px;
    }
    .skills_ul_box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        min-width: 250px;
        max-width: 600px;
        height: auto;
        list-style: none;
        font-size: 28px;
        /*border: 2px solid black;*/
        gap: 30px;
        padding-left: 0px;
        background: linear-gradient(270deg, red, orange, yellow, green, blue, indigo, violet);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    /*---------- projects ----------------*/
    .container_projects {
        width: 100%;
        max-width: 600px;
        min-width: 200px;
        /*border: 2px solid black;*/
    }
    /*
    #Projects {
        border: 2px solid black;
    }
    */
    .elementUl {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        font-size: 22px;
        padding-left: 0px;
        /*border: 2px solid black;*/
        font-family: 'Press Start 2P', cursive;
        color: rgb(0, 85, 255);
        text-shadow:
        0.5px 0.5px 0 #ccc,
        1px 1px 0 #bbb,
        1.5px 1.5px 0 #aaa,
        2px 2px 0 #999,
        2.5px 2.5px 0 #888,
        3px 3px 0 #777,
        3.5px 3.5px 0 #666;
    }
    body.dark .project_link {
        color: white;
        font-family: 'Great Vibes', cursive;
        font-size: 35px;
    }
    .elementUl li {
        margin-top: 25px;
    }
   
    /*------------------------------------*/
    .connect_linksbox {
        display: grid;
        grid-template-columns: [col1] 30px [col2] 30px [col3] 30px [col4] 30px [col5] 30px;
        grid-template-rows: [ro1] 30px [ro2] 30px;
        justify-content: center;
}
    .fa-brands.fa-linkedin {
        font-size: 30px;
        color: blue;
    }
    .fa-brands.fa-square-github {
        font-size: 30px;
        color: black;
    }
    .fa-solid.fa-envelope {
        font-size: 30px;
        color: rgb(251, 119, 3);
    }
    .container_leave_message {
        width: 100%;
        max-width: 600px;
        min-width: 200px;
        /*border: 2px solid black;*/
    }
    .leave_message {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    input::placeholder {
        opacity: 0.3;
    }
    textarea::placeholder {
        opacity: 0.3;
    }
    .input_text {
        width: 100%;
        max-width: 450px;
        min-width: 200px;
        height: 47px;
        font-size: 1.2em;
    }
    .input_email {
        width: 100%;
        max-width: 450px;
        min-width: 200px;
        height: 47px;
        font-size: 1.2em;
    }
    .users_message {
        width: 100%;
        max-width: 450px;
        min-width: 200px;
        height: 150px;
        font-size: 1.2em;
    }
    .button_submit {
        width: 100px;
        height: 40px;
        border-radius: 5px;
        cursor: pointer;
        border-color:rgb(179, 179, 179);
    }
    .button_submit:hover {
        background-color: rgb(213, 213, 213);
    }
    .container_messages {
        width: 100%;
        max-width: 450px;
        min-width: 200px;
        /*border: 2px solid black;*/
    }
    .messages_box {
        width: 100%;
        max-width: 450px;
        min-width: 200px;
        height: auto;
        /*border: 2px solid black;*/
    }
    .messages_ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        font-size: 1.1em;
        /*border: 2px solid black;*/
        list-style: none;
        text-decoration: none;
        width: 100%;
        max-width: 450px;
        min-width: 200px;
        height: auto;
        padding-left: 0px;
    }
    .messages_ul li a {
        text-decoration: none;
        cursor: pointer;
    }
    .messages_ul li {
        margin-bottom: 20px;
        background-color: rgba(220, 245, 228, 0.14);
        border: 1px solid rgb(179, 179, 179);
        border-radius: 5px;
    }
    .messages_ul li span {
        display: block;
        overflow-wrap: break-word;
        white-space: normal;
        max-width: 100%;
    }
    .remove_button {
        width: 80px;
        height: 30px;
        border-radius: 2px;
        cursor: pointer;
        margin-top: 10px;
        margin-left: 370px;
        border-color:rgb(179, 179, 179);
    }
    .remove_button:hover {
        background-color: rgb(213, 213, 213);
    }
    .edit_button {
        width: 80px;
        height: 30px;
        border-radius: 2px;
        cursor: pointer;
        margin-top: 10px;
        margin-left: 370px;
        border-color:rgb(179, 179, 179);
    }
    .edit_button:hover {
        background-color: rgb(213, 213, 213);
    }
    .container_footer {
        margin-top: 100px;
        height: 50px;
        /*border: 2px solid black;*/
        text-align: center;
    }
}

/* --------------- 769 ------------------------ */
@media screen and (min-width: 769px) {
    .main_container {
        display: flex;
        /*border: 2px solid black;*/
        flex-direction: column;
        
    }
    .left_container {
        display: flex;
        overflow-y: hidden;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        /*border: 2px solid black;*/
        height: 250px;
        position: fixed;
        z-index: 1000;
        background-color: rgb(220, 245, 228);
        top: 0;
        left: 0px;
        width: 100%;
        max-width: 1010px;
    }
    .imgPS { /**/
        margin-top: 0px;
        margin-bottom: 0px;
        /*border: 1px solid rgb(220, 245, 228);*/
        width: 145px;
        height: 200px;
        border-radius: 5px;
    }
    .imgPS img {
        height: auto;
        width: 100%;
        overflow: hidden;
        object-fit: cover;
        border-radius: 5px;
    }
    .button_dark_mode_box {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 15px;
        margin-right: 15px;
    }
    .container_nav {
        /*border: 2px solid black;*/
        margin-top: 0px;
        margin-left: 0px;
        width: auto;
        font-size: 20px;
        padding: 15px;
        max-width: 600px;
    }
    .navbar_box {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px;
        list-style: none;
        padding-left: 0px;
        /*border: 2px solid black;*/
    }
        .button_dark_mode {
        width: 90px;
        height: 30px;
        border-radius: 2px;
        cursor: pointer;
        border-color:rgb(230, 255, 238);
        background-color: rgb(220, 245, 228);;
        font-size: 0.9rem;
    }
    .About_text_container, .container_job_text {
        font-size: 1.4rem;
        padding: 10px 10px 10px 10px;
        text-indent: 2em;
    }

    h2 {
        font-size: 30px;
    }
    .container_job_title {
        font-size: 22px;
    }
    .right_container {
        display: flex;
        margin-top: 250px;
        flex-direction: column;
        align-items: center;
        /*border: 2px solid black;*/
        width: auto;
    }
    .fullname {
        font-size: 1.4rem;
    }
    .container_about {
        width: 100%;
        max-width: 1010px;
        min-width: 200px;
        height: auto;
    }
    .skills_ul_box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        min-width: 250px;
        max-width: 600px;
        height: auto;
        list-style: none;
        font-size: 32px;
        /*border: 2px solid black;*/
        gap: 30px;
        padding-left: 0px;
        background: linear-gradient(270deg, red, orange, yellow, green, blue, indigo, violet);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    /*---------- projects ----------------*/
    .container_projects {
        width: 100%;
        max-width: 600px;
        min-width: 200px;
        /*border: 2px solid black;*/
    }
    /*
    #Projects {
        border: 2px solid black;
    }
    */
    .elementUl {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        font-size: 22px;
        padding-left: 0px;
        /*border: 2px solid black;*/
        font-family: 'Press Start 2P', cursive;
        color: rgb(0, 85, 255);
        text-shadow:
        0.5px 0.5px 0 #ccc,
        1px 1px 0 #bbb,
        1.5px 1.5px 0 #aaa,
        2px 2px 0 #999,
        2.5px 2.5px 0 #888,
        3px 3px 0 #777,
        3.5px 3.5px 0 #666;
    }
    body.dark .project_link {
        color: white;
        font-family: 'Great Vibes', cursive;
        font-size: 45px;
    }
    .elementUl li {
        margin-top: 25px;
    }
   
    /*------------------------------------*/
    .connect_linksbox {
        display: grid;
        grid-template-columns: [col1] 40px [col2] 40px [col3] 40px [col4] 40px [col5] 40px;
        grid-template-rows: [ro1] 40px [ro2] 40px;
        justify-content: center;
}
    .fa-brands.fa-linkedin {
        font-size: 40px;
        color: blue;
    }
    .fa-brands.fa-square-github {
        font-size: 40px;
        color: black;
    }
    .fa-solid.fa-envelope {
        font-size: 40px;
        color: rgb(251, 119, 3);
    }
    .container_leave_message {
        width: 100%;
        max-width: 600px;
        min-width: 200px;
        /*border: 2px solid black;*/
    }
    .leave_message {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    input::placeholder {
        opacity: 0.3;
    }
    textarea::placeholder {
        opacity: 0.3;
    }
    .input_text {
        width: 100%;
        max-width: 500px;
        min-width: 200px;
        height: 50px;
        font-size: 1.3em;
    }
    .input_email {
        width: 100%;
        max-width: 500px;
        min-width: 200px;
        height: 50px;
        font-size: 1.3em;
    }
    .users_message {
        width: 100%;
        max-width: 500px;
        min-width: 200px;
        height: 150px;
        font-size: 1.3em;
    }
    .button_submit {
        width: 100px;
        height: 40px;
        border-radius: 5px;
        cursor: pointer;
        border-color:rgb(179, 179, 179);
    }
    .button_submit:hover {
        background-color: rgb(213, 213, 213);
    }
    .container_messages {
        width: 100%;
        max-width: 500px;
        min-width: 200px;
        /*border: 2px solid black;*/
    }
    .messages_box {
        width: 100%;
        max-width: 500px;
        min-width: 200px;
        height: auto;
        /*border: 2px solid black;*/
    }
    .messages_ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        font-size: 1.1em;
        /*border: 2px solid black;*/
        list-style: none;
        text-decoration: none;
        width: 100%;
        max-width: 500px;
        min-width: 200px;
        height: auto;
        padding-left: 0px;
    }
    .messages_ul li a {
        text-decoration: none;
        cursor: pointer;
    }
    .messages_ul li {
        margin-bottom: 20px;
        background-color: rgba(220, 245, 228, 0.14);
        border: 1px solid rgb(179, 179, 179);
        border-radius: 5px;
    }
    .messages_ul li span {
        display: block;
        overflow-wrap: break-word;
        white-space: normal;
        max-width: 100%;
    }
    .remove_button {
        width: 80px;
        height: 30px;
        border-radius: 2px;
        cursor: pointer;
        margin-top: 10px;
        margin-left: 418px;
        border-color:rgb(179, 179, 179);
    }
    .remove_button:hover {
        background-color: rgb(213, 213, 213);
    }
    .edit_button {
        width: 80px;
        height: 30px;
        border-radius: 2px;
        cursor: pointer;
        margin-top: 10px;
        margin-left: 418px;
        border-color:rgb(179, 179, 179);
    }
    .edit_button:hover {
        background-color: rgb(213, 213, 213);
    }
    .container_footer {
        margin-top: 100px;
        height: 50px;
        /*border: 2px solid black;*/
        text-align: center;
    }
}

/* ------------------ 1025 ----------------------- */

@media screen and (min-width: 1025px) { /**/
    .main_container {
        display: flex;
        /*border: 2px solid black;*/
        height: 100vh;
        max-width: 1200px;
    }
    .left_container { /**/
        display: flex;
        justify-content: flex-start;
        width: 250px;
        height: 100vh;
        overflow: hidden;
        flex-direction: column;
        align-items: center;
        position: fixed;
        left: 10%;
        /*border: 2px solid black;*/
    }
    .imgPS { /**/
        margin-top: 30px;
        margin-bottom: 10px;
        /*border-color: rgba(220, 245, 228);*/
        width: 200px;
        height: 274px;
        border-radius: 5px;
    }
    .imgPS img {
        height: auto;
        width: 100%;
        overflow: hidden;
        object-fit: cover;
        border-radius: 5px;
    }
    .button_dark_mode_box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 0px;
        margin-left: 25px;
    }
    .navbar_box { /**/
        display: flex;
        flex-direction: column;
        gap: 20px;
        list-style: none;
        padding-left: 25px;
        /*border: 2px solid black;*/
    }
    .button_dark_mode {
        width: 120px;
        height: 40px;
        border-radius: 5px;
        cursor: pointer;
        border-color:rgb(230, 255, 238);
        background-color: rgb(220, 245, 228);;
        font-size: 0.9rem;
    }

    .container_nav { /**/
        /*border: 2px solid black;*/
        margin-top: 0px;
        margin-left: 10px;
        padding-left: 0px;
        width: auto;
        font-size: 18px;
        
    }
    .img_nav_boxes {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .About_text_container, .container_job_text { /**/
        font-size: 1.5rem;
        padding: 10px 10px 10px 10px;
        text-indent: 2em;
    }

    h2 { /**/
        font-size: 28px;
    }

    .container_job_title { /**/
        font-size: 24px;
    }
    .right_container { /**/
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
        margin-left: 355px;
        /*border: 2px solid black;*/
        width: auto;
        flex: 1;
    }
    .container_about {
        width: 100%;
        
        min-width: 200px;
        height: auto;
    }
    .skills_ul_box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        min-width: 250px;
        max-width: 600px;
        height: auto;
        list-style: none;
        font-size: 32px;
        /*border: 2px solid black;*/
        gap: 30px;
        padding: 10px;
        background: linear-gradient(270deg, red, orange, yellow, green, blue, indigo, violet);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    /*---------- projects ----------------*/
    .container_projects {
        width: 100%;
        max-width: 600px;
        min-width: 200px;
        /*border: 2px solid black;*/
    }
    /*
    #Projects {
        border: 2px solid black;
    }
    */
    .elementUl {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        font-size: 22px;
        padding-left: 0px;
        /*border: 2px solid black;*/
        font-family: 'Press Start 2P', cursive;
        text-shadow:
        0.5px 0.5px 0 #ccc,
        1px 1px 0 #bbb,
        1.5px 1.5px 0 #aaa,
        2px 2px 0 #999,
        2.5px 2.5px 0 #888,
        3px 3px 0 #777,
        3.5px 3.5px 0 #666;
    }
    body.dark .project_link {
        color: white;
        font-family: 'Great Vibes', cursive;
        font-size: 55px;
    }
    .elementUl li {
        margin-top: 25px;
    }
   
    /*------------------------------------*/
    .connect_linksbox {
        display: grid;
        grid-template-columns: [col1] 50px [col2] 50px [col3] 50px [col4] 50px [col5] 50px;
        grid-template-rows: [ro1] 50px [ro2] 50px;
        justify-content: center;
}
    .fa-brands.fa-linkedin {
        font-size: 50px;
        color: blue;
    }
    .fa-brands.fa-square-github {
        font-size: 50px;
        color: black;
    }
    .fa-solid.fa-envelope {
        font-size: 50px;
        color: rgb(251, 119, 3);
    }
    .container_leave_message {
        width: 100%;
        max-width: 600px;
        min-width: 200px;
        /*border: 2px solid black;*/
    }
    .leave_message {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    input::placeholder {
        opacity: 0.3;
    }
    textarea::placeholder {
        opacity: 0.3;
    }
    .input_text {
        width: 100%;
        max-width: 500px;
        min-width: 200px;
        height: 50px;
        font-size: 1.3em;
    }
    .input_email {
        width: 100%;
        max-width: 500px;
        min-width: 200px;
        height: 50px;
        font-size: 1.3em;
    }
    .users_message {
        width: 100%;
        max-width: 500px;
        min-width: 200px;
        height: 150px;
        font-size: 1.3em;
    }
    .button_submit {
        width: 100px;
        height: 40px;
        border-radius: 5px;
        cursor: pointer;
        border-color:rgb(179, 179, 179);
    }
    .button_submit:hover {
        background-color: rgb(213, 213, 213);
    }
    .container_messages {
        width: 100%;
        max-width: 500px;
        min-width: 200px;
        /*border: 2px solid black;*/
    }
    .messages_box {
        width: 100%;
        max-width: 500px;
        min-width: 200px;
        height: auto;
        /*border: 2px solid black;*/
    }
    .messages_ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        font-size: 1.1em;
        /*border: 2px solid black;*/
        list-style: none;
        text-decoration: none;
        width: 100%;
        max-width: 500px;
        min-width: 200px;
        height: auto;
        padding-left: 0px;
    }
    .messages_ul li a {
        text-decoration: none;
        cursor: pointer;
    }
    .messages_ul li {
        margin-bottom: 20px;
        background-color: rgba(220, 245, 228, 0.14);
        border: 1px solid rgb(179, 179, 179);
        border-radius: 5px;
    }
    .messages_ul li span {
        display: block;
        overflow-wrap: break-word;
        white-space: normal;
        max-width: 100%;
    }
    .remove_button {
        width: 80px;
        height: 30px;
        border-radius: 2px;
        cursor: pointer;
        margin-top: 10px;
        margin-left: 418px;
        border-color:rgb(179, 179, 179);
    }
    .remove_button:hover {
        background-color: rgb(213, 213, 213);
    }
    .edit_button {
        width: 80px;
        height: 30px;
        border-radius: 2px;
        cursor: pointer;
        margin-top: 10px;
        margin-left: 418px;
        border-color:rgb(179, 179, 179);
    }
    .edit_button:hover {
        background-color: rgb(213, 213, 213);
    }
    .container_footer { /**/
        margin-top: 100px;
        height: 50px;
        position: relative;
        margin-left: -250px;
        width: calc(100% + 250px);
        /*border: 2px solid black;*/
        text-align: center;
    }
}
