body {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 100%;
    background-color: rgb(220, 245, 228);
}

html {
    height: 100%;
}

.main_container {
    display: flex;
    height: 100vh;
    /*border: 2px solid black;*/ 
}

/* ------------------- 480 ----------------- */
@media screen and (max-width: 480px) {
    .main_container {
        display: flex;
        /*border: 2px solid black;*/
        flex-direction: column;
        height: 100vh;
    }
}

@media screen and (max-width: 480px) {
    .left_container {
        display: flex;
        overflow: hidden;
        flex-direction: row;
        justify-content: center;
        height: 130px !important;
        align-items: center;
        flex: none !important;
    }
}

@media screen and (max-width: 480px) {
    .imgPS {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid;
    height: 80px;
    width: 80px;
    }
}

@media screen and (max-width: 480px) {
    .container_nav {
        /*border: 2px solid black;*/
        margin-top: 0px;
        margin-left: 15px;
        width: auto;
        font-size: 10px;
    }
}

@media screen and (max-width: 480px) {
    .navbar_box {
        display: flex;
        flex-direction: row;
        gap: 10px;
        list-style: none;
        padding-left: 0px;
    }
}

/* ------------------------------------------ */

@media screen and (min-width: 481px) {
    .main_container {
        display: flex;
        /*border: 2px solid black;*/
        flex-direction: column;
        height: 100vh;
    }
}

@media screen and (min-width: 769px) {
    .main_container {
        display: flex;
        /*border: 2px solid black;*/
        /*flex-direction: column;*/
        height: 100vh;
    }
}

@media screen and (min-width: 1025px) {
    .main_container {
        display: flex;
        border: 2px solid black;
        flex-direction: row;
        height: 100vh;
    }
}

.left_container {
    display: flex;
    flex-direction: column;
    /*border: 2px solid black;*/
    flex: 0 1 20%;
    align-items: center;
    overflow: hidden;
}

/*left_container mobile version*/


@media screen and (min-width: 481px) {
    .left_container {
        display: flex;
        overflow: hidden;
        flex-direction: row;
        justify-content: center;
        height: 130px !important;
        align-items: center;
        flex: none !important;
    }
}

@media screen and (min-width: 769px) {
    .left_container {
        display: flex;
        overflow: hidden;
        /*flex-direction: row;*/
        justify-content: center;
        height: 130px !important;
        align-items: center;
        flex: none !important;
    }
}

@media screen and (min-width: 1025px) {
    .left_container {
        display: flex;
        overflow: hidden;
        flex-direction: column;
        justify-content: center;
        height: 130px !important;
        align-items: center;
        flex: none !important;
    }
}

/*img*/
.imgPS {
    margin-top: 30px;
    border: 1px solid;
    height: 200px;
    width: 200px;
}

/*img mobile version*/



@media screen and (min-width: 481px) {
    .imgPS {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid;
    height: 80px;
    width: 80px;
    }
}

@media screen and (min-width: 769px) {
    .imgPS {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid;
    height: 100px;
    width: 100px;
    }
}

@media screen and (min-width: 1025px) {
    .imgPS {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid;
    height: 125px;
    width: 125px;
    }
}

/*nav*/
.container_nav {
    /*border: 2px solid black;*/
    margin-top: 30px;
    width: 250px;
}



@media screen and (min-width: 481px) {
    .container_nav {
        /*border: 2px solid black;*/
        margin-top: 0px;
        margin-left: 15px;
        width: auto;
        font-size: 10px;
    }
}

@media screen and (min-width: 769px) {
    .container_nav {
        /*border: 2px solid black;*/
        margin-top: 0px;
        margin-left: 25px;
        width: auto;
        font-size: 16px;
    }
}

@media screen and (min-width: 1025px) {
    .container_nav {
        border: 2px solid black;
        margin-top: 0px;
        margin-left: 30px;
        padding-left: 0px;
        width: auto;
        font-size: 18px;
        
    }
}

/*
.navbar { */
    /*font-size: 22px;*/ /*
} */

.navbar a {
    font-size: 22px;
    list-style: none;
    text-decoration-line: none;
    text-shadow: 1px 1px 2px rgb(0, 0, 0),
    0 0 1em #7fbfff,
    0 0 0.2em #7fbfff;
    color: white;
    font: 1.5em Georgia, serif;
}

.navbar_box {
    list-style: none;
    padding-left: 0px;
}



@media screen and (min-width: 481px) {
    .navbar_box {
        display: flex;
        flex-direction: row;
        gap: 10px;
        list-style: none;
        padding-left: 0px;
    }
}

@media screen and (min-width: 769px) {
    .navbar_box {
        display: flex;
        /*flex-direction: row;*/
        gap: 10px;
        list-style: none;
        padding-left: 0px;
    }
}

@media screen and (min-width: 1025px) {
    .navbar_box {
        display: flex;
        flex-direction: column;
        gap: 10px;
        list-style: none;
        padding-left: 0px;
    }
}

.right_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*border: 2px solid black;*/
    flex: 0 1 80%;
    overflow-x: auto;
    overflow-y: auto;
}

/*name*/ /*
.fullname { */
    /*border: 2px solid black;*/  /*
} */

#name {
    text-transform: uppercase;
    
}

/*name mobile version*/


/*main*/

section {
    margin-top: 30px;
    /*border: 1px solid black;*/
    border-radius: 5px;
}

/*About*/
.container_about {
    width: 100%;
    max-width: 600px;
    min-width: 200px;
    height: auto;
    
}

.About_text_container {
    background-color: #e4f1fe;
    border-radius: 5px;
    box-shadow: 2px 5px rgba(0, 0, 0, 0.075),
  0 6px 6px rgba(0, 0, 0, 0.041);
}

#About p {
    text-align: justify;
    margin: 10px;
}

/*Experience*/
.container_experience {
    display: block;
    width: 100%;
    max-width: 600px;
    min-width: 200px;
    height: auto;
}

#Experience p {
    text-align: justify;
}

.container_job {
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
    margin: 10px;
    border-radius: 5px;
}

.container_title_text {
    border: 2px solid rgba(0, 0, 0, 0.045);
    background-color: rgba(0, 0, 0, 0.035);
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
}

.container_job_title {
    text-decoration: underline rgb(135, 135, 135);
}

.container_job_text {
    background-color: #e4f1fe;
    text-indent: 25px;
    border-radius: 5px;
    box-shadow: 2px 5px rgba(0, 0, 0, 0.075),
    0 6px 6px rgba(0, 0, 0, 0.041);
    border: 1px solid rgb(0, 0, 0, 0.065);
}

/*skills*/ /*
.container_skills {

}

#Skills {

}
*/
/*Projects*/ /*
#Projects {

}
*/
/*Connect*/ /*
.container_connect { */
    /*display: flex;
    flex-direction: row;*/ /*
} */
/*
#Connect {
    
}
*/
.connect_linksbox {
    display: grid;
    grid-template-columns: [col1] 20px [col2] 20px [col3] 20px;
    grid-template-rows: [ro1] 20px [ro2] 20px;
    justify-content: center;
}

#link {
    color: rgb(0, 0, 0);
    text-decoration-style: dashed;
    text-decoration-color: rgb(5, 21, 238);
    font-size: 20px;
}

/*headers*/
h1 {
    font-weight: bold;
}

h2 {
    color: rgba(26, 26, 26, 0.277);
    text-align: center;
}

/*footer*/